@model DeliveryApp.Models.UserLogin
@{
    ViewData["Title"] = "Detalhes do Usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-decoration:none; color: #2d2d2d; font-weight: bold;">Detalhes</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Username)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Username)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Email)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Password)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Password)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Type)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Type)
        </dt>
    </dl>
</div>
<a asp-action="Index" style="text-decoration:none; color: #2d2d2d; font-weight: bold;">Voltar</a> |
<a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration:none; color: #ff6000; font-weight: bold;">Editar</a> 
